@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Index///////////////////////////*/
.estilos {
    text-align: center;
    border: 2px solid #000;
    background-color: chartreuse;
}

.logoHeader {
    width: 5em;
    display: flex;
    justify-content: flex-start;
}

.botonesNav {
    font-family: 'Economica';
    text-transform: uppercase;
    margin-right: 30px;
    color: #fff;
}

.botonesNav:hover {
    transform: scale(0.95);
    color: crimson !important;
}

.navegadorEstilos {
    background-color: #272727;
}

.tituloContainer {
    font-family: 'Economica';
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tituloContainer2 {
    font-family: 'Economica';
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.nosotrosEstilosContainer {
    background-color: #272727;
}

.textoContainer {
    font-family: 'Economica';
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    text-align: center;
}

.imagenTamano {
    width: 300px;
    transition: 0.3s;
    filter: grayscale(1);
}

.imagenTamano:hover {
    transform: scale(1.05);
    filter: grayscale(0);
}

.botonColor:hover {
    background-color: #CC3636 !important;
    border-color: #CC3636 !important;
    color: #fff !important;
}

.cardsContainers {
    display: flex;
    justify-content: center;
}

.elementosEspaciado {
    margin-bottom: 2rem;
}

.botonEstilos {
    text-transform: uppercase;
    font-family: 'Economica';
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

.botonEstilos:hover {
    color: #fff !important;
}

.carruselFoto {
    transform: scale(1);
    transition: 00.5s;
}

.carruselFoto:hover {
    transform: scale(1.1) !important;
}

.tiendaEstilosContainer {
    background-color: #d1d1d1;
}

.newsletterEstilosContainer {
    background-color: #272727;
}

.footerEstilosContainer {
    background-color: #000;
    height: 100px;
}
/*Banda///////////////////////////*/
.bandaEstilosContainer {
    background-color: #323232;
}

#cardGerard {
    background-image: linear-gradient(45deg, rgb(144, 88, 88), #323232);
    font-family: 'Economica';
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

#cardRay {
    background-image: linear-gradient(45deg, #55456d, #323232);
    font-family: 'Economica';
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

#cardFrank {
    background-image: linear-gradient(45deg, #406d57, #323232);
    font-family: 'Economica';
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

#cardMikey {
    background-image: linear-gradient(45deg, #af8756, #323232);
    font-family: 'Economica';
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

#tituloCards {
    font-weight: 700;
}

/*Merch///////////////////////////*/

.merchEstilosContainer {
    background-color: #323232;
}

.cardsMerchContainers {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Economica';
}

.tituloMerchContainer {
    font-weight: 700;
}

/*Galería///////////////////////////*/

.galeriaEstilosContainer {
    background-color: #323232;
}

.imagenEfecto {
    transition: 0.3s;
}

.imagenEfecto:hover {
    transform: scale(1.01);
}

/*tour///////////////////////////*/

.tablaEstilos {
    font-family: 'Economica';
}
