@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$tamañosTexto: (
    titulos: 1.5rem,
    parrafos: 1rem,
    botones: 1.2rem,
);