@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Economica';
}

/*header y nav*/

.navbar{
    &__fondo{
        background-color: #272727;
    }
    &__imagen{
        width: 5em;
        margin-left: 10px;
        &:hover {
            transform: scale(1.05);
        }
    }
    &__botones{
        text-transform: uppercase;
        margin-right: 30px;
        color: #fff;
        &:hover{
            transform: scale(0.95);
            color: crimson !important;
        }
    }
}

/*Tienda y Nosotros*/

.contenedor {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    width: 100%;
    &--bg1 {
        background-color: #272727;
    }
    &--bg2 {
        background-color: #d1d1d1;
    }
    &__titulo {
        margin-top: 30px;
        font-weight: 700;
        text-transform: uppercase;
        &--blanco {
            color: #d1d1d1;
        }
        &--negro {
            color: #000;
        }
    }
    &__cards {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        &--imagenes {
            width: 250px;
            border-radius: 15px;
            box-shadow: 5px 5px 20px 10px  #1e1e1e76;
            transition: 0.2s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &__botones {
        width: fit-content;
        text-decoration: none;
        font-size: 1.2em;
        text-transform: uppercase;
        background-color: #4d4d4d;
        color: #fff;
        padding: 12px 36px 12px 36px;
        border-radius: 50px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 30px;
        transition: 0.3s;
        &:hover {
            background-color: #CC3636;
            color: #fff;
        }
    }
}

/*newsletter*/

.newsletter {
    background-color: #272727;
    &__titulo {
        margin-top: 30px;
        font-weight: 700;
        text-transform: uppercase;
        &--blanco {
            color: #d1d1d1;
        }
    }
    &__inputs {
        margin-top: 30px;
    }
    &__boton {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        background-color: #272727;
    }
}

/*Footer*/

    .footer {
        display: flex;
        justify-content: center;
        background-color: #000;
        &__texto {
            font-weight: 700;
            color: #fff;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

/*media queries para el INDEX*/


@media (max-width: 936px) {
    .contenedor {
        &__cards {
            &--imagenes {
                margin-bottom: 30px;
            }
        }
    }
}